@{
    var session = (Incerrance.Common.UserLogin)Session[Incerrance.Common.CommonConstants.USER_SESSION];
}
<div class="top-component">
    <div class="float-left">
		<p>Do you need support ? <span class="text-danger"> Call us: </span><a href="/"> 0988.944.607</a></p>
    </div>
	<div class="float-right">
		@if (session == null)
		{
			<a href="/dang-ky" class="nav-link">Registration</a>
			<a href="/dang-nhap" class="nav-link">Log in</a>
		}
		else
		{
			<a href="@Url.Action("Logout", "User")" class="nav-link" data-toggle="tooltip" title="Log out"><i class="fas fa-sign-out-alt"></i></a>
			<a href="/ho-so-nguoi-dung?id=@session.UserId" data-toggle="tooltip" title="User Profile" class="nav-link dropdown-toggle" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
				<span class="text-danger"><span class="text-primary">Hello:</span> @session.UserName</span>
			</a>
			<a href="/my-insurance" class="nav-link" style="color: #702428;">My Insurance</a>
		}
	</div>
</div>
<div class="top-header">
    <div class="container">
        <div class="top-header-main">
            <div class="col-md-4 top-header-left">
                @*<div class="search-bar">
                    <form action="/tim-kiem" method="get">
                        <input type="text" value="@ViewBag.Keyword" name="keyword" id="txtKeyword" placeholder="Search">
                        <input type="submit" value="">
                    </form>
                </div>*@
            </div>
            <div class="col-md-4 top-header-middle">
                <a href="/trang-chu"><img src="~/Content1/Admin/images/logoin.png" width="200px" alt="" /></a>
            </div>
            <div class="col-md-4 top-header-right">

            </div>
            <div class="clearfix"></div>
        </div>
    </div>
</div>
<!--<p>logo-4.png</p>-->